body {
    background: black;
}

h3 {
    color: aliceblue;
    position: absolute;
    top: 18%;
    left: 43%;
    font-size: 40px;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;



}